*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	text-decoration:none;
	font-family: 'Raleway', sans-serif;
}

.container{
	max-width:1680px;
	width:100%;
	margin:auto;
}

header{
	background:url(../images/Fix_Garden_01.jpg) no-repeat;
	background-position:top center;
	background-size:100%;
	height:600px;
}

.top{
	display:flex;
	justify-content:space-between;
	padding:20px 0;
	width:94%;
	margin:auto;
}
.top nav a{
	color:#006400;
	font-weight:bold;
	margin-left:25px;
	font-size:20px;
}
.label div {
	display:flex;
	justify-content:space-between;
	padding:20px 0;
	width:94%;
	margin:auto;
}

.info{
	max-width:500px;
	width:90%;
	margin:0px auto;
	text-align:center;
	display: flex;
    flex-direction: column;
    height: 74%;  
    justify-content: center;
	align-items: center;
}
.info h1{
	font-size:50px;
	color:#fff;
	letter-spacing:5px;
}
.info p{
	font-size:22px;
	color:#fff;
	margin:25px 0;
}
.info a{
	background:#db4d4d;
	padding:8px 20px;
	color:#fff;
	font-size:24px;
	border-radius:3px;
}
h2{
	color:#333;
	font-size:26px;
	margin-bottom:22px;
}
h4{
	text-transform:uppercase;
	font-size:18px;
	color:#333;
	font-style:normal;
}
.luctus{
	max-width:800px;
	width:60%;
	margin:30px auto;
	display: grid;
    grid-template-columns: auto auto;
}

.luctus div{
	width:99%;
}

.luctus div p{
	margin-bottom:20px;
}

.fusce{
	background:#7FBD0D;
	padding:30px 0;
}
.text-center{
	text-align:center;
}
.label{
	color: #006400;

}
.reg{
	padding-bottom: 70px;
    display: flex;
    justify-content: center;
}
.lbls{

	text-align: right;
}
.lbls label{
	margin-bottom: 5px;
	height: 15px;
}
form input{
	width: 135px;
	height: 15px;
}